/* General Styling */

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/* Header and Navbar Stylings */

header {
    display: flex;
    justify-content: space-between;
    height: 90px;
    border-bottom: 2px solid gray;
    border-radius: 30px;
}

header img {
    padding-top: 0px;
}

nav {
    display: flex;
    justify-content: end;
    margin: 10px;
}

ul {
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 20px;
    padding-top: 25px;
}

a {
    color: gold;
    font-size: 20px;
    text-decoration: none;
    padding: 10px 15px;
}

nav a:hover {
    background-color: gold;
    color: #000;
    border-radius: 15px;
    padding: 10px 15px;
    font-weight: 400;
}

.book-button {
    background-color: gold;
    color: #000;
    font-size: 20px;
    font-weight: 500;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
}

.book-button:hover {
    background-color: rgb(255, 183, 0);
    color: #000;
    font-size: 20px;
    font-weight: 500;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
}

/* Footer Stylings */

footer {
    color: gold;
    border-top: .2px solid gray;
    border-radius: 20px;
}

.footer-cont {
    display: flex;
    justify-content: space-between;
    margin-left: 30px;
    margin-top: 20px;
}

.footer-content {
    display: flex;
    margin: 10px 15px;
}

.cont {
    margin: 20px;
}

.cont a:hover {
    background-color: gold;
    color: #000;
    border-radius: 10px;
}

.cont a{
    color: gold;
}

.cont dt {
    text-decoration: underline;
    font-size: 20px;
    margin: 10px;
}

.cont dd {
    font-size: 18px;
} 

.cont-1 a {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.cont-2 a {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.contact-links a {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.cont-3 {
    font-size: 18px;
    margin-top: 180px;
    margin-right: 50px;
} 


/* Home Page Stylings */

.body-home {
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.8), rgba(0,0,0,0.6)), url("Project-Files/home-background.jpg");
    background-position: center;
    background-size: cover; 
    color: gold;
}

.home-content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
}

.home-content-text {
    width: 90%;
    text-align: justify;
    font-size: 18px;
    line-height: 25px;
    margin-right: 150px;
}

.home-content-text h2 {
    text-align: justify;
    font-size: 45px;
    font-family: 'Times New Roman', Times, serif;
    padding-bottom: 15px;
}

.home-content-logo {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-content-logo img{
    border-radius: 50%;
}

.home-book-button {
    width: 100%;
    margin: 80px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-book-button button {
    background-color: gold;
    color: #000;
    font-size: 20px;
    font-weight: 500;
    padding: 15px 30px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
}

.home-book-button button:hover {
    background-color: #000;
    color: gold;
    font-size: 20px;
    font-weight: 500;
    padding: 15px 30px;
    border: none;
    border-radius: 30px;
}

/* Destinations Page Styling */

.destinations-background {
    width: 100%;
    position: fixed;
    z-index: -1;
    top: 0;
    bottom: 0;
}

#destinations {
    color: gold;
}

#destinations h1 {
    font-size: 50px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    margin-top: 20px;
}

#destinations p {
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    margin: 20px 20px 20px 40px;
}

.dest-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
}

.dest {
    color: gold;
    margin: 20px;
    padding: 10px;
    border: 2px solid gray;
    border-radius: 20px;
}

.dest dt {
    padding: 10px;
    font-size: 22px;
    font-weight: bold;
}

.dest dd {
    font-size: 18px;
    padding-top: 10px;
    padding-left: 50px;
}

/* Fleet Page Styling */

.body-fleet {
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.9), rgba(0,0,0,0.8)), url("./Project-Files/Fleet-bg.jpg");
    background-position: center;
    background-size: cover;
}

.airline {
    display: flex;
    justify-content: center;
    margin: 10px;
    color: gold;
}

.boeing, 
.airbus {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 50%;
    border-right: 2px solid gray;
    border-left: 2px solid gray;
    border-radius: 30px;
}

.boeing img, 
.airbus img {
    width: 60%;
}

.check-fleet-button button {
    background: transparent;
    border: none;
}

.check-fleet-button button a {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px 20px;
    border: none;
    border-radius: 20px;
    margin-top: 50px;
    background-color: gold;
    color: #000;
    font-size: 14px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
    cursor: pointer;
}

/* Boeing Fleet Styling */

.body-boeing-fleet {
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.8), rgba(0,0,0,0.7)), url("./Project-Files/Boeing-fleet-bg.jpg");
    background-position: center;
    background-size: cover;
}

.boeing-747, 
.boeing-777x, 
.boeing-787, 
.boeing-737-max {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: gold;
    padding: 20px;
    width: 60%;
    border: 2px solid gray;
    border-radius: 30px;
    margin: 30px;
}

.boeing-747 h1, 
.boeing-777x h1, 
.boeing-787 h1, 
.boeing-737-max h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: underline;
}

.boeing-747 img, 
.boeing-777x img, 
.boeing-787 img, 
.boeing-737-max img {
    width: 90%;
    margin: 50px;
    border-radius: 20px;
}

/* Boeing & Airbus Fleet Styling */

.airplane {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

/* Airbus Fleet Styling */

.body-airbus-fleet {
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.9), rgba(0,0,0,0.8)), url("./Project-Files/Airbus-fleet-bg.jpg");
    background-position: center;
    background-size: cover;
}

.airbus-a38o, 
.airbus-a35o, 
.airbus-a33o, 
.airbus-a32o {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: gold;
    padding: 20px;
    width: 60%;
    border: 2px solid gray;
    border-radius: 30px;
    margin: 30px;
}

.airbus-a38o h1, 
.airbus-a35o h1, 
.airbus-a33o h1, 
.airbus-a32o h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: underline;
}

.airbus-a38o img, 
.airbus-a35o img, 
.airbus-a33o img, 
.airbus-a32o img {
    width: 90%;
    margin: 50px;
    border-radius: 20px;
}